.contactForm{
	background-color: #f7f7f7;
	padding-top:150px;;
}
.text_course{
	
	font-family: 'Open Sans';
	max-width:  500px; 
	margin-right: 50px;
	text-align:center;
       
	h1{
		margin-bottom: 20px;
	  }
}


.basic{
    color: #535353;
	display: flex;

	
	align-items:center;
}
.form{
	max-width: 500px;
	font-family: 'Open Sans';
	padding: 10px 15px 30px;
    width: 100%;
      h1{
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #535353;
	  }
}
.registration{
	width: 100%;
}
label{
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #535353;

  }
  em {
    color:red ;
	font-weight: bold;
  }
  label, input{
	font-family: 'Open Sans';
	display: block;
	width: 100%;
	font-size: 12pt;
	line-height: 24pt;
	font-family: "Spartan";
  }
 

  input {
	width: 100%;
    border: none;
	border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding-left: 10px;
	outline: none;
	margin-bottom: 5px;
  }
  input.text{
	  font-family: 'Open Sans';
	  height: 42px;

	  &:focus{
		transition: all 0.3s ease 0s;
		border: 1px solid #3bd4c7;
		box-shadow: inset 0px 0px 5px 0px rgba(106, 228, 228, 0.466);
		
	  }
  }

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.check{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-bottom: 8px;
	margin-top: 8px;
}
label  a{
	color:#337ab7;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}



.box{
	display: inline-block;
	height: auto;
	width: auto;
	margin-right: 8px;
	
}
.button_contact{
	text-align: center;
}
.button{
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
	border-color: #2e6da4;
	border-radius: 50px;
	padding: 15px 95px;
	border: 1px solid transparent;
	cursor: pointer;
	line-height: 1.428571429;
	color: white;
	height: 52px;
	width: 400px;

     &:hover{
		background-color: rgb(83,83,83);
	}
}

@media (max-width:767px){
    .basic{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}
		
		.form{
          margin: 0 auto;
		  
		  h1{
			text-align: center;
		}
		}
		.text{
			margin: 0 auto;
		}
		.button{
			font-weight: bolder;
			font-size: 10px;
			width: 100%;
			text-align: center;
			padding: 15px ,40px;
			
		}
}