.mentors{
    margin: 40px 0px;
}
.title_mentor{
    font-weight: lighter;
    font-family: 'Open Sans';
    font-size: 34px;
    line-height: 37.4px;
    margin-bottom: 10px;
    text-align: center;
    color: #393333;
}
.mentor_image{
    height: 100%;
    align-items:center;
}
.descriptionAbout{
    
    display: flex;
    flex-direction: column;

   h2{
    font-size: 20px;
    color: #3498db;
    font-family: 'Open Sans';
    margin-bottom: 15px;
}
   hr{
    opacity: 0.3;
    margin-bottom: 10px;
}
}
.under{
    
    color: rgba(136, 136, 136, 0.212);
    margin-top: 35px;
}
.mentor_about{
    display: flex;
    flex-direction: column;
    height: 100%;
    p{
        
        font-family: 'Open Sans';
        margin-top: auto;
        line-height: 25.6px;
        font-size: 16px;
        color: rgb(136, 136, 136);
        letter-spacing: 0ch;
        
    }
}

.mentor_slider_item{
    display: flex;
    gap:25px;
}
.mentors_slider .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
  
            li {
    list-style: none;
    margin: 15px 5px;
    
    button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: #666; 
        opacity: 0.5;}
  }
}
 
  
  .mentors_slider .slick-dots li.slick-active button {
    opacity: 1;
    background-color:#666;
    }

    @media (max-width:767px){
        .map>iframe{
            height: 250px;
        }
        .title_mentor{
            font-weight: lighter;
            font-family: 'Open Sans';
            font-size: 22px;
            line-height: 28.4px;
            margin-bottom: 10px;
            text-align: center;
            color: #393333;
        }
        .mentor_image{
            max-width: 270px;
            max-height: 280px;
    
            img{
            max-width: 100%;
            max-height: 100%;
        }}
        .mentor_about>p{
        
            font-family: 'Open Sans';
            margin-top: auto;
            line-height: 16px;
            font-size: 12px;
            color: rgb(136, 136, 136);
            
            
        }
        .mentor_slider_item{
            display: flex;
            flex-direction: column;
            gap:20px;
            align-items: center;
        }
            .descriptionAbout  h2{
                text-align: center;
            }
        }
        

    
    @media (max-width:1020px){
    
        .mentor_about>p{
    
            font-family: 'Open Sans';
            margin-top: auto;
            line-height: 20px;
            font-size: 13px;
            color: rgb(136, 136, 136);
            
            
        }
    }
    

    @media (max-width:320px){
        .map>iframe{
            height: 90px;
        }
        .who  h3{
            margin-top: 5px;
        }
        .what_slider .slick-dots  li {
            list-style: none;
            margin: 0px 5px; 

         button {
                font-size: 0;
                width: 6px;
                height: 6px;
              }
          }
         
          .h1_whatsay{
            margin:8px 0px;
            font-size:14px;
    
          }
          .text_stud{
            font-family: 'Open Sans';
            line-height: 1.1;
            font-size: 14px;
            color: #666;
            padding: 0px 25px;
          }
          .fa-quote-left:before {
            opacity: 0.5;
            position: absolute;
            color: #888;
            font-size: 18px;
            top: 0;
            left: 0;
            
       
          }
         .fa-quote-right:before{
            opacity: 0.5;
            position: absolute;
            color: #888;
            font-size: 18px;
            bottom: 15px;
            right: 10;
       }
    }
    