@import "_header.scss";
@import "_feedback.scss";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v27-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }
  
.container{
   width:1220px;
   margin: 0px auto;
   padding:0px 15px;
}

@media (max-width:1200px){
    .container{
       max-width:970px;
      }
    }

    @media (max-width:992px){
    .container{
       max-width:750px;
      }
    }
    
    @media (max-width:767px){
      .container{
         max-width:none;
        }
      }
